[submodule "repositories/sd-scripts"]
	path = repositories/sd-scripts
	url = https://github.com/kohya-ss/sd-scripts.git
	commit = b78c0e2a69e52ce6c79abc6c8c82d1a9cabcf05c
[submodule "repositories/leco"]
	path = repositories/leco
	url = https://github.com/p1atdev/LECO
	commit = 9294adf40218e917df4516737afb13f069a6789d
[submodule "repositories/batch_annotator"]
	path = repositories/batch_annotator
	url = https://github.com/ostris/batch-annotator
	commit = 420e142f6ad3cc14b3ea0500affc2c6c7e7544bf
[submodule "repositories/ipadapter"]
	path = repositories/ipadapter
	url = https://github.com/tencent-ailab/IP-Adapter.git
	commit = 5a18b1f3660acaf8bee8250692d6fb3548a19b14
