[submodule "repositories/sd-scripts"]
	path = repositories/sd-scripts
	url = https://github.com/kohya-ss/sd-scripts.git
[submodule "repositories/leco"]
	path = repositories/leco
	url = https://github.com/p1atdev/LECO
[submodule "repositories/batch_annotator"]
	path = repositories/batch_annotator
	url = https://github.com/ostris/batch-annotator
[submodule "repositories/ipadapter"]
	path = repositories/ipadapter
	url = https://github.com/tencent-ailab/IP-Adapter.git
